#footer {
  background: none;
  color: gray; /* Cambia el color del texto a blanco para mejor contraste */
  text-align: center; /* Centra el texto */
  padding: 10px 0; /* Añade espaciado interno */
}

footer p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}
