:root {
  --button-color-red: linear-gradient(
    to right,

    rgba(0, 0, 0, 0.8),
    rgba(255, 0, 0, 0.8)
  );
  --button-color-blue: linear-gradient(
    to right,

    rgba(20, 12, 243, 0.6),
    rgba(49, 129, 195, 0.6)
  );
  --overlie: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  /*color acento---------------------------*/
  --color-acento: linear-gradient(
    to right,
    rgb(108, 105, 105),
    rgb(237, 229, 229)
  );
  --color-acento1: rgb(237, 229, 229);
  --color-acento2: linear-gradient(
    to right,
    rgb(237, 229, 229),
    rgb(108, 105, 105)
  );
  /*-------------------------------------------*/
  --color-header: rgba(255, 0, 0, 0.7);
  --color-main: rgba(0, 0, 0, 0.9);
}

html {
  scroll-behavior: smooth; /*baja al darle click de forma bonita*/
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}
main {
  background: var(--color-main);
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: 30%;
}
p {
  font-size: 1.2em;
  display: none;
  color: white;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}
button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  background: var(--button-color-red);
}

button:hover {
  background: var(--button-color-blue);
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 50px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
/*color-acento*/
.color-acento {
  background: var(--color-acento);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.color-acento1 {
  background: var(--color-acento1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.color-acento2 {
  background: var(--color-acento2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/*---------------------------------------*/
.carta {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 50px;
  border-radius: 15px;
}

@media (min-width: 720px) {
  .container h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 2em;
  }

  .carta p {
    display: block; /* Mostrar el párrafo */
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Ajustar la opacidad del texto para mejor legibilidad */
    background-color: rgba(
      25,
      25,
      25,
      0.05
    ); /* Fondo negro con opacidad, hace un recuadro trasparentoso dentro de cartas*/
    padding: 10px; /* Añadir padding para dar algo de espacio dentro del párrafo */
    border-radius: 50px; /* Redondear bordes del contenedor */
  }

  .container .carta {
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    flex: 1 1 calc(33.333% - 20px); /* Ajuste para tres columnas */
    margin: 10px;
    padding: 30px;
  }

  /*repuestos-----------------------------------------------------------*/
  main #repuestos .container .cartas-repuestos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*mecanicos-----------------------------------------------------------*/
  main #mecanicos .container .cartas-mecanico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*accesorios-----------------------------------------------------------*/
  main #accesorios .container .cartas-accesorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /*a_rodar-----------------------------------------------------------*/
}
