main #hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh; /* Ocupará el 90% de la pantalla */
  background-image: var(--overlie), url("/img/header1.jpg");
  background-size: cover; /* Ajusta la imagen al contenedor */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
main #hero {
  color: red;
}
