main #repuestos {
  background-color: white;
  color: black;
  text-align: center;
}

main #repuestos .carta {
  color: white;
}

main #repuestos .carta:first-child {
  background-image: var(--overlie), url("/img/amortiguadores.jpg");
}
main #repuestos .carta:nth-child(2) {
  background-image: var(--overlie), url("/img/bombillos.jpg");
}
main #repuestos .carta:nth-child(3) {
  background-image: var(--overlie), url("/img/frenos.jpg");
}
main #repuestos .carta:nth-child(4) {
  background-image: var(--overlie), url("/img/motor.jpg");
}
main #repuestos .carta:nth-child(5) {
  background-image: var(--overlie), url("/img/llantas.jpg");
}
main #repuestos .carta:nth-child(6) {
  background-image: var(--overlie), url("/img/kit_arrastre.jpg");
}
